#video {
  position: fixed;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
}

.button, input, #download_href {
  background-color: white;
  border: 2px solid #777;
  border-radius: 4px;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.progress-section {
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.progress-section h1 {
  color: white;
  text-align: center;
}
h1 {
  text-align:center;
}
.progress-section .progress-bar {
  margin-left: auto;
  margin-right: auto;
}
.progress-value {
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 32px;
}
.set-parameters input {
  background-color: white;
  border: 2px solid #777;
  border-radius: 4px;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  color: white;
  margin: 50px auto;
  padding: 20px;
  height: 340px;
  overflow: auto;
}
#drop-area2 {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  color: white;
  margin: 50px auto;
  padding: 20px;
  height: 340px;
  overflow: auto;
}
#drop-area3 {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  color: white;
  margin: 50px auto;
  padding: 20px;
  height: 340px;
  overflow: auto;
}
#drop-area.highlight {
  border-color: red;
}
#drop-area2.highlight {
  border-color: red;
}
#drop-area3.highlight {
  border-color: red;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.my-form{
  margin-bottom: 10px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
#fileElem, #stop_button {
  display: none;
}
#fileElem2 {
  display: none;
}
#fileElem3 {
  display: none;
}
#get-started {
  display: none;
}

.container { 
  height: 100px;
  position: relative;
}

.container-small { 
  height: 40px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.set-parameters {
  color: white;
}

.set-color-red {
  color: red;
}

.tooltip {
  color: red;
}

#progress-bar {
  display:none;
}

.navigation {
  min-height: 30px;
  padding: 8px 16px;
  z-index: 100;
  position: relative;
  width: 100%;
}

.navigation button {
  margin-right: 8px;
}

a:link, a:visited {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: red;
  cursor: wait;
}